@model IEnumerable<Data.Models.article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_article)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pubDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teamMedia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_article)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pubDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teamMedia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_article }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_article }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_article })
        </td>
    </tr>
}

</table>
